{# Jinja template for JSON output #}
[
{% for cell_group in report.cell_groups %}
  [
    {% for line in cell_group.lines %}
    {
    {%- for cell in line -%}
    "{{ cell.name }}": {% if cell.value is none %}null{% elif cell.value is string %}"{{ cell.value }}"{% else %}{{ cell.value }}{% endif %}
    {%- if not loop.last %}, {% endif %}
    {%- endfor -%}
    }{% if not loop.last %},{% endif +%}
  {% endfor %}
  ]{% if not loop.last %},{% endif +%}
{% endfor %}
]